<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ZEVILS\SQLEXPRESS;Initial Catalog=REPLDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WebsiteDb" connectionString="Data Source=ZEVILS\SQLEXPRESS;Initial Catalog=WEBSITEDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
